name: CD | Dev Docker Image Build and Push

on:
  push:
    branches:
      - "main"

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build_type: [gpu, cpu]
    steps:
      - name: Clear Space
        run: |
          rm -rf /usr/share/dotnet
          rm -rf /opt/ghc
          rm -rf "/usr/local/share/boost"
          rm -rf "$AGENT_TOOLSDIRECTORY"

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push ${{ matrix.build_type }} version
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_REPO }}/${{ secrets.DOCKERHUB_IMG }}:dev-${{ matrix.build_type }}
          build-args: |
            BUILD_TYPE=${{ matrix.build_type }}
            RUNNER_VERSION=2.330.0
          cache-from: type=registry,ref=${{ secrets.DOCKERHUB_REPO }}/${{ secrets.DOCKERHUB_IMG }}:buildcache-${{ matrix.build_type }}
          cache-to: type=registry,ref=${{ secrets.DOCKERHUB_REPO }}/${{ secrets.DOCKERHUB_IMG }}:buildcache-${{ matrix.build_type }},mode=max
          labels: |
            build_type=${{ matrix.build_type }}
            runner_version=2.330.0
